<div class="post-container">
    <div class="content">
        <div class="header">
            <div class="top">

                <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#profil-{{ post.user.id }}">
                    <div class="img"
                            {% if post.user.image  is defined %}
                         style="background:url('{{ vich_uploader_asset(post.user, 'imageFile') }}')">
                        {% else %}
                            style="background:url('{{ ("https://api.adorable.io/avatars/285/anonyme" ~ random(50, 100) ~"@adorable.io.png") }}')">
                        {% endif %}


                    </div>
                </button>

                <div class="modal fade" id="profil-{{ post.user.id }}" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="wrap">
                                    <div class="img"
                                            {% if post.user.image  is defined %}
                                         style="background:url('{{ vich_uploader_asset(post.user, 'imageFile') }}')">
                                        {% else %}
                                            style="background:url('{{ ("https://api.adorable.io/avatars/285/anonyme" ~ random(50, 100) ~"@adorable.io.png") }}')">
                                        {% endif %}
                                     </div>
                                </div>
                                <div class="username">{{ post.user.username }}</div>
                                <div class="description">But I must explain to you how all this mistaken
                                    idea of denouncing pleasure and
                                </div>
                                {% if app.user %}
                                    {% if  app.user == post.user %}
                                        <div class="lien_profil"><a
                                                    href="{{ path('account.show',{'id': post.user.id} ) }}">Voir mon
                                                profil</a></div>
                                    {% else %}
                                        <div class="lien_profil"><a
                                                    href="{{ path('account.show',{'id': post.user.id} ) }}">Voir le
                                                profil</a></div>
                                        <div data-userId="{{ post.user.id }}"
                                             onclick="handleAddUserFollow(event)"
                                             data-action="{{ path('follow.add',{"id":post.user.id}) }}"
                                             class="followUser">
                                            <span class="followStatus">Suivre</span>

                                        </div>
                                    {% endif %}
                                {% else %}
                                    <div class="lien_profil"><a
                                                href="{{ path('account.show',{'id': post.user.id} ) }}">Voir le
                                            profil</a></div>
                                {% endif %}


                            </div>
                        </div>
                    </div>
                </div>
                <div class="infos">
                    <div class="left">
                        <p class="username"><strong>{{ post.user.username }}</strong>
                        </p>
                        <p class="date">
                                       <span data-createdAt="{{ post.createdAt | date('U') }}"
                                             class="number p-date"></span>
                        </p>
                    </div>
                    <div class="option">

                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#modal-post-{{ post.id }}">
                            <i class="icon-dots-horizontal-triple"></i>
                        </button>

                        <div class="modal fade" id="modal-post-{{ post.id }}" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">

                                        <div class="actions">
                                            {% if app.user %}
                                                <div class="icons first">
                                                    <div onclick="handleAddPostPinned(event)"
                                                         data-action="{{ path('post.addPin',{'id':post.id}) }}"
                                                         class="pinnedPost">
                                                        <i class="icon-pushpin"></i>
                                                        {% if post in app.user.postFollowed %}
                                                            <span class="pinText">Post epinglé</span>
                                                        {% else %}
                                                            <span class="pinText">Epingler ce post</span>

                                                        {% endif %}

                                                    </div>
                                                </div>
                                            {% endif %}
                                            <div class="icons">
                                                <div onclick="handleAddReport(event)"
                                                     data-action="{{ path('report.add',{"entity":"post",'id':post.id}) }}"
                                                     class="reportForm">

                                                    <i class="icon-blocked"></i><span class="number ">Signaler ce contenu</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="l-post">
                <p class="text">{{ post.text }}</p>
            </div>

            <div class="actions">
                <div class="icons">
                    <div onclick="handleAddLike(event)"
                         data-action="{{ path('like.add',{"entity":"post",'id':post.id}) }}"
                         class="likeForm">
                        {% if app.user %}
                            {% set liked = false %}
                            {% for like in post.likes %}
                                {% if like.user == app.user and like.post == post %}
                                    {% set liked = true %}
                                {% else %}
                                    {% set liked = false %}
                                {% endif %}
                            {% endfor %}

                            {% if liked %}
                                <i class="icon-heart heart-like"></i>
                            {% else %}
                                <i class="icon-heart heart-dislike"></i>
                            {% endif %}

                        {% else %}
                            <i class="icon-heart heart-like"></i>
                        {% endif %}

                        <span class="number">{{ post.likes|length }}</span>
                    </div>
                    <div class="icons">
                        <i class="icon-bubble"></i><span class="number">{{ comments | length }}</span>
                    </div>
                </div>
                {% if expanded is defined %}
                {% else %}
                    <a
                            class="btn btn-primaire "
                            href="{{ path('post.show',{'id': post.id}) }}"
                    >Voir plus
                    </a>

                {% endif %}

            </div>
            {% if expanded is defined %}
                <div class="action_onlypost">
                    <div>
                        {% if app.user %}
                            {% set liked = false %}
                            {% for like in post.likes %}
                                {% if like.user == app.user and like.post == post %}
                                    {% set liked = true %}
                                {% else %}
                                    {% set liked = false %}
                                {% endif %}
                            {% endfor %}

                            {% if liked %}
                                <i class="icon-heart heart-like"></i>
                            {% else %}
                                <i class="icon-heart heart-dislike"></i>
                            {% endif %}

                        {% else %}
                            <i class="icon-heart heart-dislike"></i>
                        {% endif %}
                        aimer
                    </div>
                    <div>
                        {% if app.user %}
                            {% set commented = false %}
                            {% for comment in post.comments %}
                                {% if comment.user == app.user and comment.post == post %}
                                    {% set commented = true %}
                                {% else %}
                                    {% set commented = false %}
                                {% endif %}
                            {% endfor %}

                            {% if commented %}
                                <i class="icon-bubble bubble-true"></i>
                            {% else %}
                                <i class="icon-bubble bubble-false"></i>
                            {% endif %}

                        {% else %}
                            <i class="icon-bubble bubble-true"></i>
                        {% endif %}
                        commenter
                    </div>
                </div>
            {% endif %}
        </div>

    </div>
    <div class="wrapper-comments">
        {% if comments is defined %}
            {% if comments is empty and onlyOneComment is not defined %}
                <p>Aucun commentaire soit le premier !</p>
            {% endif %}

            {% for comment in comments %}
                {% include('/comment/only-comment.html.twig') %}
            {% endfor %}
        {% endif %}

        {% if onlyOneComment is defined %}
            {% if onlyOneComment is empty %}
                <p>Aucun commentaire soit le premier !</p>
            {% else %}
                {% include('/comment/only-comment.html.twig') with {'comment' : onlyOneComment} %}
            {% endif %}
        {% endif %}

    </div>

    {% if app.user %}
        <div class="formComment {% if expanded is defined %} formComment_onepost {% endif %} ">


            <div class="img"
                    {% if app.user.image  is defined %}
                 style="background:url('{{ vich_uploader_asset(app.user, 'imageFile') }}')">
                {% else %}
                    style="background:url('{{ ("https://api.adorable.io/avatars/285/anonyme" ~ random(50, 100) ~ "@adorable.io.png") }}')">
                {% endif %}
            </div>
            <form onsubmit="handleAddComment(event)" name="comment"
                  data-action="{{ path('comment.add',{'id':post.id}) }}"
                  class="commentForm">
                <div class="form-group">
                    {# <label class="sr-only required" for="comment_textComment">Commentaire</label> #}
                    <input type="text" id="comment_textComment" name="comment[textComment]"
                           required="required"
                           class="commentForm__textarea form-control input-lg"
                           placeholder="Votre commentaire ..."
                           onclick="affiche_comment()"
                            onblur="afficheplus_comment()">
                </div>
                <div class="d-flex justify-content-end">
                    <div class="form-group">
                        <button type="submit" id="comment_submit-post-{{ post.id }} comment_submit" name="comment[submit]"
                                class="btn btn-pink btn">Envoyer
                        </button>
                    </div>
                </div>
            </form>
        </div>





    {% endif %}


</div>


<script>

    //fonction d'affichage du bouton submit (form comment)
    function affiche_comment(){
        //document.getElementById('comment_submit').style.opacity=1;
        document.getElementById('comment_submit').disabled="";
        console.log('ok comment');
    }
    function afficheplus_comment(){
            const str = document.getElementById('comment_textComment').value;
            console.log(str.length);
            if (str.length==0) {
                //document.getElementById('comment_submit').style.opacity=0;
                //document.getElementById('comment_submit').disabled="true";
            }
    }




</script>

