<div class="post-container" data-id="{{ post.id }}">
    <div class="content">
        <div class="header">
            <div class="top">
                <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#profil-{{ post.user.id }}">
                    <div class="img"
                            {% if post.user.image  is defined %}
                         style="background:url('{{ vich_uploader_asset(post.user, 'imageFile') }}')">
                        {% else %}
                            style="background:url('{{ ("https://api.adorable.io/avatars/285/anonyme" ~ random(50, 100) ~"@adorable.io.png") }}')">
                        {% endif %}


                    </div>
                </button>

                <div class="modal fade" id="profil-{{ post.user.id }}" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="wrap">
                                    <div class="user-picture">
                                        <div class="img"
                                                {% if post.user.image  is defined %}
                                             style="background:url('{{ vich_uploader_asset(post.user, 'imageFile') }}')">
                                            {% else %}
                                                style="background:url('{{ ("https://api.adorable.io/avatars/285/anonyme" ~ random(50, 100) ~"@adorable.io.png") }}')">
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="username">{{ post.user.username }}</div>
                                <div class="description">{{ post.user.description }}</div>
                                {% if app.user %}
                                    {% if  app.user == post.user %}
                                        <div class="lien_profil"><a
                                                    href="{{ path('account.show',{'id': post.user.id} ) }}">Voir mon
                                                profil</a></div>

                                    {% else %}
                                        <a href="{{ path('account.show',{'id': post.user.id} ) }}">Voir le
                                            profil</a>

                                        {% if post.user in app.user.friends %}
                                            <a href="#" data-userId="{{ post.user.id }}"
                                               onclick="handleAddUserFollow(event)"
                                               data-action="{{ path('follow.add',{"id":post.user.id}) }}"
                                               class="followUser">
                                                <span class="followStatus">Ne plus suivre</span></a>
                                        {% else %}
                                            <a href="#" data-userId="{{ post.user.id }}"
                                               onclick="handleAddUserFollow(event)"
                                               data-action="{{ path('follow.add',{"id":post.user.id}) }}"
                                               class="followUser">
                                                <span class="followStatus">Suivre</span></a>
                                        {% endif %}


                                        <a class="message"
                                           href="{{ path('conversations.newConversations',{'username':(post.user.username) ?? 'anonyme' }) }}">
                                            Envoyer un message privé
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <div class="lien_profil"><a
                                                href="{{ path('account.show',{'id': post.user.id} ) }}">Voir le
                                            profil</a></div>
                                {% endif %}


                            </div>
                        </div>
                    </div>
                </div>
                <div class="infos">
                    <div class="left">
                        <p class="username"><strong>{{ post.user.username }}</strong>
                        </p>
                        <p class="date">
                                       <span data-createdAt="{{ post.createdAt | date('U') }}"
                                             class="number p-date"></span>
                        </p>
                    </div>
                    <div class="option">

                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#modal-post-{{ post.id }}">
                            <i class="icon-dots-horizontal-triple"></i>
                        </button>

                        <div class="modal fade" id="modal-post-{{ post.id }}" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">

                                        <div class="actions">
                                            {% if app.user %}
                                                <div class="icons first">
                                                    <div onclick="handleAddPostPinned(event)"
                                                         data-action="{{ path('post.addPin',{'id':post.id}) }}"
                                                         class="pinnedPost">
                                                        <i class="icon-pushpin"></i>
                                                        {% if post in app.user.postFollowed %}
                                                            <span class="pinText">Post epinglé</span>
                                                        {% else %}
                                                            <span class="pinText">Epingler ce post</span>

                                                        {% endif %}

                                                    </div>
                                                </div>

                                                {% if  app.user == post.user %}
                                                    <div class="icons">
                                                        <div onclick="handleDeletePost(event)"
                                                             data-action="{{ path('post.delete',{'post': post.id} ) }}"
                                                             class="deleteForm">

                                                            <i class="icon-blocked"></i><span
                                                                    class="number ">Suprimer</span>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                            <div class="icons">
                                                <div onclick="handleAddReport(event)"
                                                     data-action="{{ path('report.add',{"entity":"post",'id':post.id}) }}"
                                                     class="reportForm">

                                                    <i class="icon-blocked"></i><span class="number ">Signaler ce contenu</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="l-post">
                <p class="text">{{ post.text }}</p>
            </div>

            <div class="actions">
                <div class="icons">
                    <div onclick="handleAddLike(event,true)"
                         data-action="{{ path('like.add',{"entity":"post",'id':post.id}) }}"
                         class="likeForm onlyPostLike">
                        {% if app.user %}
                            {% set liked = false %}
                            {% for like in post.likes %}
                                {% if like.user == app.user and like.post == post %}
                                    {% set liked = true %}
                                {% else %}
                                    {% set liked = false %}
                                {% endif %}
                            {% endfor %}

                            {% if liked %}
                                <i class="icon-heart heart-like"></i>
                            {% else %}
                                <i class="icon-heart heart-dislike"></i>
                            {% endif %}

                        {% else %}
                            <i class="icon-heart heart-dislike"></i>
                        {% endif %}

                        <span class="number">{{ post.likes|length }}</span>
                    </div>
                    <div class="icons">
                        {% if app.user %}
                            {% set commented = false %}
                            {% for comment in post.comments %}
                                {% if comment.user == app.user and comment.post == post %}
                                    {% set commented = true %}
                                {% else %}
                                    {% set commented = false %}
                                {% endif %}
                            {% endfor %}

                            {% if commented %}
                                <i class="icon-bubble bubble-true"></i>
                            {% else %}
                                <i class="icon-bubble bubble-false"></i>
                            {% endif %}

                        {% else %}
                            <i class="icon-bubble bubble-false"></i>
                        {% endif %}


                        <span class="number">{{ post.id | getComment('DESC') | length }}</span>
                    </div>
                </div>
                {% if expanded is not defined %}

                    <a
                            class="btn btn-primaire "
                            href="{{ path('post.show',{'id': post.id}) }}"
                    >Voir plus
                    </a>

                {% endif %}

            </div>
            {% if expanded is defined %}
                <div class="action_onlypost">

                    <div onclick="handleAddLike(event,true)"
                         data-action="{{ path('like.add',{"entity":"post",'id':post.id}) }}" class="onlyPostLike">
                        {% if app.user %}
                            {% set liked = false %}
                            {% for like in post.likes %}
                                {% if like.user == app.user and like.post == post %}
                                    {% set liked = true %}
                                {% else %}
                                    {% set liked = false %}
                                {% endif %}
                            {% endfor %}

                            {% if liked %}
                                <i class="icon-heart heart-like"></i>
                            {% else %}
                                <i class="icon-heart heart-dislike"></i>
                            {% endif %}

                        {% else %}
                            <i class="icon-heart heart-dislike"></i>
                        {% endif %}
                        aimer
                    </div>
                    <div onclick="$('html, body').animate({ scrollTop:  $('.wrapper-comments').offset().top +200 }, 'slow');$('#comment_textComment').focus();">
                        {% if app.user %}
                            {% set commented = false %}
                            {% for comment in post.comments %}
                                {% if comment.user == app.user and comment.post == post %}
                                    {% set commented = true %}
                                {% else %}
                                    {% set commented = false %}
                                {% endif %}
                            {% endfor %}

                            {% if commented %}
                                <i class="icon-bubble bubble-true"></i>
                            {% else %}
                                <i class="icon-bubble bubble-false"></i>
                            {% endif %}

                        {% else %}
                            <i class="icon-bubble bubble-false"></i>
                        {% endif %}
                        commenter
                    </div>

                    {% block meta %}
                        <meta property="og:url" content="hhttps://infaux.ga{{ path('post.show',{'id': post.id}) }}"/>
                        <meta property="og:type" content="Infaux"/>
                        <meta property="og:title" content="Post Infaux"/>
                        <meta property="og:description" content="{{ post.text }}"/>
                        <meta property="og:image" content="https://infaux.ga/img/favicon192.png"/>

                        <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
                    {% endblock %}
                    <a data-toggle="modal" data-target="#modalShare" href="#">
                        <div>Partager</div>
                    </a>




            {% endif %}

        </div>
            <div class="modal fade" id="modalShare" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        <div class="actions">

                            <div class="icons first">
                                <div class="fb-share-button"
                                     data-href="https://infaux.ga{{ path('post.show',{'id': post.id}) }}"
                                     data-layout="button_count" data-size="small"><a target="_blank"
                                                                                     href="https://www.facebook.com/sharer/sharer.php?u=https://infaux.ga{{ path('post.show',{'id': post.id}) }}"
                                                                                     class="fb-xfbml-parse-ignore">Facebook</a>
                                </div>

                            </div>

                            <div class="icons">
                                <a class="twitter-share-button"
                                   target="_blank"
                                   href="https://twitter.com/intent/tweet?text=Qu%20en%20pensez%20vous%20&url=https://infaux.ga{{ path('post.show',{'id': post.id}) }}&hashtags=Infaux,Intox,Hoax">
                                    Tweet</a>

                            </div>

                            <div class="icons">

                                <script type="IN/Share" data-url="https://infaux.ga{{ path('post.show',{'id': post.id}) }}"></script>

                            </div>
                            </div>

                        </div>
                        </div>

                    </div>
                </div>
            </div>
    </div>
    <div class="wrapper-comments">
        {% if comments is defined %}
            {% if comments is empty and onlyOneComment is not defined %}
                <p>Aucun commentaire soit le premier !</p>
            {% endif %}

            {% for comment in comments %}
                {% include('/comment/only-comment.html.twig')with {'comment' : comment,'onlyOneComment':false} %}
            {% endfor %}
        {% endif %}

        {% if onlyOneComment is defined %}

            {% if onlyOneComment is empty %}
                <p>Aucun commentaire soit le premier !</p>
            {% else %}
                {% include('/comment/only-comment.html.twig') with {'comment' : onlyOneComment,'onlyOneComment':true} %}
            {% endif %}
        {% endif %}

    </div>

    {% if app.user %}
        {% include('/comment/form-comment.html.twig') %}
    {% endif %}


</div>

