{% extends '/base.html.twig' %}

{% block title %}
    Infaux - Connexion
{% endblock %}
{% block gtag %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107718823-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-107718823-2');
    </script>
{% endblock %}
{% block meta_description %}
    <meta name="description"
          content="Agence web à Lens. Conception et développement de sites sur mesure. Communication digitale, référencement SEO Google."/>{% endblock %}
{% block meta_keywords %}
    <meta name="keywords"
          content="Agence web de communication web marketing, stratégie digitale à Lens, France, creation site internet, agence de développement web, Création site internet, Lens, Lille, France, creation site internet, 59, 62, Nord Pas de Calais, Nord, Haut de France, création site internet vitrine, community management entreprise, community management personnel, création boutique en ligne, site internet, site web, création site internet boutique en ligne, Création site web, 75, Paris, Création site web e commerce, agence de référencement, agence seo, seo, référencement naturel, web marketing, agence web, agence de communication, vidéo promotionnelle, vidéo commercial, création site catalogue, création site internet responsive, généré du trafic sur mon site internet, première page google, référencement google, création de site internet france, conseil et webdesign, référencement internet, agence web, site internet responsive, site responsive, création et optimisation de site web, web design et développement de site internet, communication digitale, webmarketing, création site internet boutique en ligne, boutique en ligne, créer boutique en ligne, refonte boutique en ligne, refonte site internet e-commerce, responsive web design, refonte site internet responsive, site adaptable, site internet, site web, création site internet, création site web, responsive, création site internet e-commerce"/>{% endblock %}
{% block meta_robots %}
    <meta name="robots" content="unavailable_after: [date ]">{% endblock %}
{% block google %}
    <meta name="google" content="unavailable_after: [date ]">{% endblock %}
{% block stylesheets %}
<style>
.has-val.input + .focus-input::after {
  top: -15px;
}

.has-val.input + .focus-input::before {
  width: 100%;
}
</style>
{% endblock %}

{% block body %}

		<div class="login limiter">
			<div class="container-login">
				<div class="wrap-login">
                <a href="{{ path("index") }}" class="pb-60 d-flex justify-content-end"><i class="icon-close"></i></a>
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					{% if app.user %}
						<div class="mb-3 pb-60">
							Vous etes connecté en tant que :
							{{ app.user.username }},
							<a href="{{ path('app_logout') }}">Déconnexion</a>
						</div>

					{% else %}
						<form method="post" class="login-form validate-form">
							<span class="login-form-title pb-50 pb-50Mobile">
								<img src="{{ asset("img/logo_infaux.png") }}" alt="Infaux logo"/></a>
							</span>

							<div class="wrap-input validate-input" data-validate="Valid email is: a@b.c">
								<input class="input" type="email" value="{{ last_username }}" name="email" id="inputEmail" required autofocus>
								<span class="focus-input" data-placeholder="Email"></span>
							</div>

							<div class="wrap-input validate-input" data-validate="Enter password">
								<span class="btn-show-pass">
									<i class="icon-eye"></i>
								</span>
								<input class="input" type="password" name="password" id="inputPassword" required>
								<span class="focus-input" data-placeholder="Mot de passe"></span>
							</div>
							<input
							type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

							{#
														                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
														                    See https://symfony.com/doc/current/security/remember_me.html
														
														                    <div class="checkbox mb-3">
														                        <label>
														                            <input type="checkbox" name="_remember_me"> Remember me
														                        </label>
														                    </div>
														                #}


							<div class="container-login-form-btn">
								<div class="wrap-login-form-btn">
									<div class="login-form-bgbtn"></div>
									<button class="login-form-btn" type="submit">
										Connexion
									</button>
								</div>
							</div>

							<div class="text-center pt-110 pt-40Mobile">
								<span class="txt1">
									Vous n'avez pas de compte ?
								</span>

								<a class="txt2" href="{{ path('app_register') }}">
									Inscription
								</a>
							</div>
						</form>
					{% endif %}
				</div>
			</div>
		</div>
	{% block javascripts %}
		<script src="{{ preload('https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js', { as: 'script' }) }}"></script>
        {{ encore_entry_script_tags('login') }}
    {% endblock %}

		{% endblock %}
