<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Infaux - Inscription
			{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> {% block meta_description %}{% endblock %}{% block meta_keywords %}{% endblock %}{% block meta_robots %}{% endblock %}{% block meta_google %}{% endblock %}
		<link type="text/plain" rel="author" href="Nom de domaine/humans.txt"/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/> {% block stylesheets %}{% endblock %}

		{{ encore_entry_link_tags('app') }}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"/>

		<link rel="icon" type="image/png" href="img/favicon.png"/>
		<meta name="theme-color" content="#00103e">
		<meta property="og:image" content="img/icon.png"/>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/595ca4abfa.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
		<script type="text/javascript" src="{{ asset('js/tarteaucitron/tarteaucitron.js') }}"></script>
		<script type="text/javascript">
			tarteaucitron.init({
"privacyUrl": "", /* Privacy policy url */

"hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
"cookieName": "tarteaucitron", /* Cookie name */

"orientation": "bottom", /* Banner position (top - bottom) */
"showAlertSmall": false, /* Show the small banner on bottom right */
"cookieslist": true, /* Show the cookie list */

"adblocker": false, /* Show a Warning if an adblocker is detected */
"AcceptAllCta": true, /* Show the accept all button when highPrivacy on */
"highPrivacy": false, /* Disable auto consent */
"handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

"removeCredit": true, /* Remove credit link */
"moreInfoLink": false, /* Show more info link */
"useExternalCss": false,
/* If false, the tarteaucitron.css file will be loaded */

// "cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */

"readmoreLink": "/cookiespolicy" /* Change the default readmore link */
});

(tarteaucitron.job = tarteaucitron.job || []).push('recaptcha');
tarteaucitron.user.gajsUa = 'UA-107718823-2';
tarteaucitron.user.gajsMore = function () { /* add here your optionnal _ga.push() */
};
		</script>
		{% block gtag %}{% endblock %}


	</head>
	<body>

		<div class="login limiter">
			<div class="container-login">
				<div class="wrap-login">
					<form method="post" class="login-form validate-form">
						<span class="login-form-title pb-20">
							Infaux
						</span>
						<span class="login-form-title pb-40">
							<i class="zmdi zmdi-font"></i>
						</span>

						<div class="wrap-input validate-input" data-validate="Valid email is: a@b.c">
							<input class="input" type="email" name="registration_form[email]" id="registration_form_email" required autofocus>
							<span class="focus-input" data-placeholder="Email"></span>
						</div>

						<div class="wrap-input validate-input">
							<input class="input" type="text" name="registration_form[username]" id="registration_form_username" required autofocus>
							<span class="focus-input" data-placeholder="Pseudo"></span>
						</div>

						<div class="wrap-input validate-input" data-validate="Enter password">
							<span class="btn-show-pass">
								<i class="zmdi zmdi-eye"></i>
							</span>
							<input class="input" type="password" name="registration_form[plainPassword][first]" id="registration_form_plainPassword_first" required autofocus>
							<span class="focus-input" data-placeholder="Mot de passe"></span>
						</div>

						<div class="wrap-input validate-input" data-validate="Enter password">
							<span class="btn-show-pass">
								<i class="zmdi zmdi-eye"></i>
							</span>
							<input class="input" type="password" name="registration_form[plainPassword][second]" id="registration_form_plainPassword_second" required>
							<span class="focus-input" data-placeholder="Mot de passe"></span>
						</div>

						<div class="container-login-form-btn">
							<div class="wrap-login-form-btn">
								<div class="login-form-bgbtn"></div>
								<button class="login-form-btn" type="submit">
									Inscription
								</button>
							</div>
						</div>

						<div class="text-center pt-40">
							<span class="txt1">
								Vous avez déjà un compte ?
							</span>

							<a class="txt2" href="#">
								Connexion
							</a>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div id="dropDownSelect1"></div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
		<script src="{{ asset("js/lazysizes.min.js") }}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
		<script src="{{ asset("build/app.js") }}"></script>
		<script src="{{ asset("build/login.js") }}"></script>
		<a aria-label="Button permettant de retourner en haut de la page" id="scrollToTop"></a>
		<script>
			var btn = $('#scrollToTop');

$(window).scroll(function () {
if ($(window).scrollTop() > 300) {
btn.addClass('show');
} else {
btn.removeClass('show');
}
});

btn.on('click', function (e) {
e.preventDefault();
$('html, body').animate({
scrollTop: 0
}, '300');
});
		</script>
		{% block javascripts %}{% endblock %}

	</body>
</html>
