{% extends '/base.html.twig' %}

{% block title %}
    Infaux - Inscription
{% endblock %}
{% block gtag %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107718823-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-107718823-2');
    </script>
{% endblock %}
{% block meta_description %}
    <meta name="description"
          content="Agence web à Lens. Conception et développement de sites sur mesure. Communication digitale, référencement SEO Google."/>{% endblock %}
{% block meta_keywords %}
    <meta name="keywords"
          content="Agence web de communication web marketing, stratégie digitale à Lens, France, creation site internet, agence de développement web, Création site internet, Lens, Lille, France, creation site internet, 59, 62, Nord Pas de Calais, Nord, Haut de France, création site internet vitrine, community management entreprise, community management personnel, création boutique en ligne, site internet, site web, création site internet boutique en ligne, Création site web, 75, Paris, Création site web e commerce, agence de référencement, agence seo, seo, référencement naturel, web marketing, agence web, agence de communication, vidéo promotionnelle, vidéo commercial, création site catalogue, création site internet responsive, généré du trafic sur mon site internet, première page google, référencement google, création de site internet france, conseil et webdesign, référencement internet, agence web, site internet responsive, site responsive, création et optimisation de site web, web design et développement de site internet, communication digitale, webmarketing, création site internet boutique en ligne, boutique en ligne, créer boutique en ligne, refonte boutique en ligne, refonte site internet e-commerce, responsive web design, refonte site internet responsive, site adaptable, site internet, site web, création site internet, création site web, responsive, création site internet e-commerce"/>{% endblock %}
{% block meta_robots %}
    <meta name="robots" content="unavailable_after: [date ]">{% endblock %}
{% block google %}
    <meta name="google" content="unavailable_after: [date ]">{% endblock %}
{% block stylesheets %}
<style>
.has-val.input + .focus-input::after {
  top: -15px;
}

.has-val.input + .focus-input::before {
  width: 100%;
}
</style>
{% endblock %}

{% block body %}


    <div class="login limiter">
        <div class="container-login">
            <div class="wrap-login">
                <a href="{{ path("index") }}" class="pb-30 d-flex justify-content-end"><i class="icon-close"></i></a>


                <span class="login-form-title pb-50">
							<img class="img-logo-header" src="{{ asset("img/logo_infaux.png") }}" alt="Infaux logo"/>
						</span>

                {# For convenience sake of this snippet, store the errors in a variable #}
                {% set formErrors = registrationForm.vars.errors.form.getErrors(true) %}

                {# If there are errors in the form, display them in this unorganized list #}
                {% if formErrors|length %}
                    <ul class="error-registration-ul">
                        {% for error in formErrors %}
                            <li class="alert alert-danger">{{ error.message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}



                {{ form_start(registrationForm) }}

                <div class="wrap-input validate-input">

                    {{ form_widget(registrationForm.email, {'attr': {'class': 'input'}}) }}
                    <span class="focus-input" data-placeholder="Email"></span>


                    <small>{{ form_help(registrationForm.email) }}</small>

                    <div class="form-error">
                        {{ form_errors(registrationForm.email) }}
                    </div>
                </div>

                <div class="wrap-input validate-input">

                    {{ form_widget(registrationForm.username, {'attr': {'class': 'input'}}) }}
                    <span class="focus-input" data-placeholder="Pseudo"></span>


                    <small>{{ form_help(registrationForm.username) }}</small>

                    <div class="form-error">
                        {{ form_errors(registrationForm.username) }}
                    </div>
                </div>


                <div class="wrap-input validate-input">
					<span class="btn-show-pass">
						<i class="icon-eye"></i>
					</span>
                    {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'input'}}) }}
                    <span class="focus-input" data-placeholder="Mot de passe"></span>


                    <div class="form-error">
                        {{ form_errors(registrationForm.plainPassword) }}
                    </div>
                </div>


                <div class="wrap-input validate-input">
					<span class="btn-show-pass">
						<i class="icon-eye"></i>
					</span>
                    {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'input'}}) }}
                    <span class="focus-input" data-placeholder="Mot de passe"></span>


                    <div class="form-error">
                        {{ form_errors(registrationForm.plainPassword) }}
                    </div>
                </div>
				
				<div class="validate-input">
                        {{ form_widget(registrationForm.agreeTerms) }}

				</div>

                <div class="container-login-form-btn">
                    <div class="wrap-login-form-btn">
                        <div class="login-form-bgbtn"></div>
                        <button class="login-form-btn" type="submit">
                            Inscription
                        </button>
                    </div>
                </div>

                {{ form_end(registrationForm) }}


                <div class="text-center pt-40 pt-40Mobile">
							<span class="txt1">
								Tu as déjà un compte ?
							</span>


                    <a class="txt2" href="{{ path('app_login') }}">
                        Connexion
                    </a>
                    <a class="d-block" href="{{ path('rgpd') }}">
                        CGU
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div id="dropDownSelect1"></div>


{% endblock %}


	{% block javascripts %}
        {{ encore_entry_script_tags('login') }}
    {% endblock %}
