{% extends '/base.html.twig' %}

{% block title %}
    Infaux - Notification
{% endblock %}
{% block gtag %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107718823-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-107718823-2');
    </script>
{% endblock %}
{% block meta_description %}
    <meta name="description"
          content="Agence web à Lens. Conception et développement de sites sur mesure. Communication digitale, référencement SEO Google."/>{% endblock %}
{% block meta_keywords %}
    <meta name="keywords"
          content="Agence web de communication web marketing, stratégie digitale à Lens, France, creation site internet, agence de développement web, Création site internet, Lens, Lille, France, creation site internet, 59, 62, Nord Pas de Calais, Nord, Haut de France, création site internet vitrine, community management entreprise, community management personnel, création boutique en ligne, site internet, site web, création site internet boutique en ligne, Création site web, 75, Paris, Création site web e commerce, agence de référencement, agence seo, seo, référencement naturel, web marketing, agence web, agence de communication, vidéo promotionnelle, vidéo commercial, création site catalogue, création site internet responsive, généré du trafic sur mon site internet, première page google, référencement google, création de site internet france, conseil et webdesign, référencement internet, agence web, site internet responsive, site responsive, création et optimisation de site web, web design et développement de site internet, communication digitale, webmarketing, création site internet boutique en ligne, boutique en ligne, créer boutique en ligne, refonte boutique en ligne, refonte site internet e-commerce, responsive web design, refonte site internet responsive, site adaptable, site internet, site web, création site internet, création site web, responsive, création site internet e-commerce"/>{% endblock %}
{% block meta_robots %}
    <meta name="robots" content="unavailable_after: [date ]">{% endblock %}
{% block google %}
    <meta name="google" content="unavailable_after: [date ]">{% endblock %}

{% block style_custom %}

    <style>

    </style>
{% endblock %}
{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container">
        <div class="notif-blk">
            {% for notif in notifsSeen %}
           <img src="https://images.unsplash.com/photo-1528341866330-07e6d1752ec2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2001&q=80"/>
                   
                <div> {{ notif.user }} </div>
                <div class="opa nm">{{ notif.message }} </div>

            {% endfor %}
            {% for notif in notifsNotSeen %}
                <div>{{ notif.message }}   (Non vu) </div>

            {% endfor %}
        </div>

    </div>
{% endblock %}


  {% block javascripts %}
      <script>

          document.addEventListener("DOMContentLoaded", function (event) {
              $(function () {

                  moment.locale('fr');
                  $(".p-date").map((x, i) => {
                      i.innerText = moment.unix(i.dataset.createdat).local().fromNow();
                  });
              });
          });


      </script>

      <script type="text/javascript">
          const _receiver = document.getElementById('mercure-content-receiver');
          const _messageInput = document.getElementById('mercure-message-input');


          const url = new URL('{{ mercure_publish_url }}');
          console.log(url);
          url.searchParams.append('topic', '/message');
          const eventSource = new EventSource(url, {withCredentials: true});
          eventSource.onmessage = (evt) => {
              const data = JSON.parse(evt.data);
              if (!data.message) {
                  return;
              }
              _receiver.insertAdjacentHTML('beforeend', `<div class="message">${data.message}</div>`);
          };
      </script>
  {% endblock %}
