
 {% for comment in comments %}

    <div class="comments-container">
        <div class="content">
            <div class="header">
                <img src="https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80"
                     alt="" class="img">
                <p class="username"><strong>{{ comment.user }}</strong></p>

                <p class="text">{{ comment.textComment }} </p>
            </div>

            <div class="footer">
                <p class="icons">
                <form name="like" method="post"
                      action="{{ path('like.add',{"entity":"comment",'id':comment.id}) }}"
                      class="likeForm">
                    <button type="submit" id="like_submit" name="like[submit]" class="btn btn-pink ">
                        <i class="fa fa-thumbs-up">
                                        <span class="number">
                                            {{ comment.likes|length }}
                                        </span>
                        </i>
                    </button>
                </form>
                </p>
                <p class="icons">
                    <i class="fa fa-clock-o"><span data-createdAt="{{ comment.createdAt | date('U') }}"
                                                   class="number p-date">{{ comment.createdAt | date('U') }}</span></i>

                </p>
                <p class="icons">
                <form name="report" method="post"
                      action="{{ path('report.add',{"entity":"post",'id':comment.post.id}) }}"
                      class="reportForm">
                    <button type="submit" id="report_submit" name="report[submit]"
                            class="btn btn-pink ">
                        <i class="fa fa-flag"><span class="number ">Signalez</span></i>
                    </button>
                </form>
                </p>


            </div>
        </div>

    </div>
    {% endfor %}
