{% extends '/base.html.twig' %}

{% block title %}
    Infaux - Parametres
{% endblock %}
{% block gtag %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107718823-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-107718823-2');
    </script>
{% endblock %}
{% block meta_description %}
    <meta name="description"
          content="Agence web à Lens. Conception et développement de sites sur mesure. Communication digitale, référencement SEO Google."/>{% endblock %}
{% block meta_keywords %}
    <meta name="keywords"
          content="Agence web de communication web marketing, stratégie digitale à Lens, France, creation site internet, agence de développement web, Création site internet, Lens, Lille, France, creation site internet, 59, 62, Nord Pas de Calais, Nord, Haut de France, création site internet vitrine, community management entreprise, community management personnel, création boutique en ligne, site internet, site web, création site internet boutique en ligne, Création site web, 75, Paris, Création site web e commerce, agence de référencement, agence seo, seo, référencement naturel, web marketing, agence web, agence de communication, vidéo promotionnelle, vidéo commercial, création site catalogue, création site internet responsive, généré du trafic sur mon site internet, première page google, référencement google, création de site internet france, conseil et webdesign, référencement internet, agence web, site internet responsive, site responsive, création et optimisation de site web, web design et développement de site internet, communication digitale, webmarketing, création site internet boutique en ligne, boutique en ligne, créer boutique en ligne, refonte boutique en ligne, refonte site internet e-commerce, responsive web design, refonte site internet responsive, site adaptable, site internet, site web, création site internet, création site web, responsive, création site internet e-commerce"/>{% endblock %}
{% block meta_robots %}
    <meta name="robots" content="unavailable_after: [date ]">{% endblock %}
{% block google %}
    <meta name="google" content="unavailable_after: [date ]">{% endblock %}

{% block style_custom %}

    <style>

    </style>
{% endblock %}
{% block body %}



    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        <div class="setting">
            <h1><i class="icon-heart"></i>Parametres</h1>
            <div class="card mon-compte">
                <h1>Compte</h1>
                <div class="group">
                    <p class="item">Avatar</p>
                    <div class="img"
                         style="background:url('/uploads/images/users/{{ user.image }}')">

                    </div>
                    {{ form_start(form) }}
                    {{ form_row(form.imageFile,{'attr':{'class': 'button'},'label': 'Changer d\'avatar'}) }}

                </div>
                <div class="group">
                    <p class="item">Pseudo</p>
                    <p>{{ user.username }}</p>
                </div>
                <div class="group">
                    <p class="item">Email du compte</p>
                    <p>{{ user.email }}</p>
                </div>
                <div class="group">
                    <p class="item">Mot de passe</p>
                    <p>*************</p>
                </div>
<!-- Button  modifier les infos -->
                <button type="button" class="btn btn-primary modifier" data-toggle="modal" data-target="#modif">
                    Modifier
                </button>

                <!-- Modal -->
                <div class="modal fade" id="modif" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modifications des informations du compte</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {{ form_row(form.email,{'attr':{'class': ''},'label': 'Email du compte'}) }}
                            {{ form_row(form.actualPassword,{'attr':{'class': ''},'label': 'Mot de passe actuelle','value': '**********'}) }}
                            {{ form_row(form.newPassword,{'attr':{'class': ''},'label': 'Nouveau Mot de passe','value': '*******'}) }}
                            
                        </div>
                        <div class="modal-footer">
                            {{ form_row(form.submit,{'attr':{'class': 'btn btn-primary mt-3 settings-modify-button'},'label': 'Modifier'}) }}
                            {{ form_end(form) }}
                        </div>
                        </div>
                    </div>
                </div>

{# désactiver le compte #}
                <button type="button" class="btn btn-primary btn_action" data-toggle="modal" data-target="#descativ">
                    Desactivation du compte
                </button>

                <!-- Modal -->
                <div class="modal fade" id="descativ" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLabel">Confirmer la desactivation définitive du compte</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <a href="{{ path('account.delete') }}">Désactivé le compte</a>
                        </div>
                        <div class="modal-footer" style="display:none;">
                            
                        </div>
                        </div>
                    </div>
                </div>

{# se déconnecter #}

                <button type="button" class="btn btn-primary btn_action" data-toggle="modal" data-target="#deco">
                    Se déconnecter
                </button>

                <!-- Modal -->
                <div class="modal fade" id="deco" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLabel">Voulez vous vraiment vous déconnecter?</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <a href="{{ path('app_logout') }}">Se déconnecter</a>
                        </div>
                        <div class="modal-footer" style="display:none;">
                            
                        </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="card general">
                <h1>Général</h1>

                <div class="group">
                    <p class="item">Voir les posts</p>
                    <p>Les plus populaires</p>
                </div>
                <div class="group">
                    <p class="item">Mode nuit</p>
                    <p>Désactivé</p>
                </div>
                <div class="group">
                    <p class="item">Qui peut voir mes posts</p>
                    <p>Tout le monde</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


  {% block javascripts %}


  {% endblock %}
