<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Infaux{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta_description %}{% endblock %}
    {% block meta_keywords %}{% endblock %}
    {% block meta_robots %}{% endblock %}
    {% block meta_google %}{% endblock %}
    <link type="text/plain" rel="author" href="{{ preload('/humans.txt', { as: 'font', importance: 'low' }) }}"/>
    <link rel="manifest" href="{{ preload('/manifest.webmanifest.json', { as: 'font', importance: 'low' }) }}">

    {% block stylesheets %}

    {% endblock %}

    {{ encore_entry_link_tags('main') }}

    <link rel="icon" type="image/png" href="{{ preload('/img/favicon.png', { as: 'image' }) }}"/>
    <link rel="apple-touch-icon" sizes="96x96"
          href="/img/favicon96.png">

    <link rel="apple-touch-icon" sizes="192x192"
          href="/img/favicon192.png">
    <meta property="og:image" content="{{ preload('/img/icon.png', { as: 'image', importance: 'low' }) }}"/>
    <meta name="theme-color" content="#00103e">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" defer="">

    <script type="text/javascript"
            src="{{ preload(asset('js/tarteaucitron/tarteaucitron.js'), { as: 'script', importance: 'low' }) }}"></script>

    <script type="text/javascript" defer>
        tarteaucitron.init({
            "privacyUrl": "", /* Privacy policy url */

            "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
            "cookieName": "tarteaucitron", /* Cookie name */

            "orientation": "bottom", /* Banner position (top - bottom) */
            "showAlertSmall": false, /* Show the small banner on bottom right */
            "cookieslist": true, /* Show the cookie list */

            "adblocker": false, /* Show a Warning if an adblocker is detected */
            "AcceptAllCta": true, /* Show the accept all button when highPrivacy on */
            "highPrivacy": false, /* Disable auto consent */
            "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

            "removeCredit": true, /* Remove credit link */
            "moreInfoLink": false, /* Show more info link */
            "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */

            //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */

            "readmoreLink": "/cookiespolicy" /* Change the default readmore link */
        });

        (tarteaucitron.job = tarteaucitron.job || []).push('recaptcha');
        tarteaucitron.user.gajsUa = 'UA-107718823-2';
        tarteaucitron.user.gajsMore = function () { /* add here your optionnal _ga.push() */
        };


    </script>
    {% block gtag %}{% endblock %}

</head>
{% if (app.request.get('_route') == 'app_register') or (app.request.get('_route') == 'app_login') or (app.request.get('_route') == 'tuto.avatar') or (app.request.get('_route') == 'tuto.description') or (app.request.get('_route') == 'tuto.skip') %}

{% else %}
{% include "header.html.twig" %}
{% endif %}
<body>
<div id="mercure-content-receiver"></div>

<div class="transition-fade" id="swup">
    {% block body %}

    {% endblock %}
</div>

{% if (app.request.get('_route') == 'app_register') or (app.request.get('_route') == 'app_login') or (app.request.get('_route') == 'tuto.avatar') or (app.request.get('_route') == 'tuto.description') or (app.request.get('_route') == 'tuto.skip') %}

{% else %}
{% include "footer.html.twig" %}
{% endif %}

<a aria-label="Button permettant de retourner en haut de la page" id="scrollToTop"></a>

<script src="{{ preload('https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js', { as: 'script' }) }}"></script>
<script src="{{ preload('https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js', { as: 'script' }) }}"
        ></script>
<script src="{{ preload('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js', { as: 'script' }) }}"
        ></script>
<script src="{{ preload('https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js', { as: 'script' }) }}"
        ></script>
<script src="https://unpkg.com/swup@latest/dist/swup.min.js" ></script>

{{ encore_entry_script_tags('app') }}


<script>
    var btn = $('#scrollToTop');

    $(window).scroll(function () {
        if ($(window).scrollTop() > 300) {
            btn.addClass('show');
        } else {
            btn.removeClass('show');
        }
    });

    btn.on('click', function (e) {
        e.preventDefault();
        $('html, body').animate({scrollTop: 0}, '300');
    });

</script>

<script>
    //PWA - Service worker et notifcation
    function notifyMe(msg) {
        if (!window.Notification) {
            console.log('Browser does not support notifications.');
        } else {
            // check if permission is already granted
            if (Notification.permission === 'granted') {
                // show notification here
                var notify = new Notification('Tu as reçu une notifications !', {
                    body: msg,
                    icon: '/img/logo_infaux.png',
                });
            } else {
                // request permission from user
                Notification.requestPermission().then(function (p) {
                    if (p === 'granted') {
                        // show notification here
                        var notify = new Notification('Tu as reçu une notifications !', {
                            body: msg,
                            icon: '/img/logo_infaux.png',
                        });
                    } else {
                        console.log('User blocked notifications.');
                    }
                }).catch(function (err) {
                    console.error(err);
                });
            }
        }
    }


</script>


{% block javascripts %}{% endblock %}

</body>
</html>
