<header>
    <div class="logo-header d-flex justify-content-center">
        <img src="{{ asset("img/logo_infaux.png") }}" alt="Infaux logo"/></a>
    </div>
    <nav class="mobile-bottom-nav">
        <div class="mobile-bottom-nav__item">
            <div class="mobile-bottom-nav__item-content">
                <a class="{% if current_menu is defined and current_menu == 'home' %}active{% endif %}"
                       href="{{ path('index') }}"><i class="fas fa-home"></i>
                        <span class="sr-only">(current)</span>
                    </a>
            </div>		
        </div>
        <div class="mobile-bottom-nav__item">		
            <div class="mobile-bottom-nav__item-content">
                <a href=""><i class="fas fa-search"></i></a>
            </div>
        </div>
        {% if app.user %}
        <div class="mobile-bottom-nav__item">
            <div class="mobile-bottom-nav__item-content">
                <a href="{{ path('notification') }}"><i class="fas fa-bell"></i><span class="number_notif notif">{{ app.user.notificationNotSeen | length }}</span></a>
            </div>		
        </div>
        {% endif %}
        <div class="mobile-bottom-nav__item">
            <div class="mobile-bottom-nav__item-content">
                <a class="" type="button" class="btn btn-primary" data-toggle="modal" data-target="#collapse-menu">
                    <i class="fas fa-bars"></i>
                </a>
            </div>		
        </div>
    </nav>
    <!-- Modal -->
<div class="modal animated fadeInRight menu-collapse" id="collapse-menu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog mt-0 mb-0 mr-0  m-0Mobile" role="document">
    <div class="modal-content collapse-navbar">
      <div class="modal-header">
        <img src="{{ asset("img/logo_infaux.png") }}" alt="Infaux logo"/></a>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="container d-flex flex-column align-items-center">
                <div class="user-picture-background mt-40 mt-40Mobile mb-10 mb-10Mobile">
                    <div class="user-picture">
                        {% if app.user %}
                        <img src="{{ asset("img/user.svg") }}" alt="user"/></a>
                        {% else %}
                        <img src="{{ asset("img/user.svg") }}" alt="user"/></a>
                        {% endif %}
                    </div>
                </div>
                {% if app.user %}
                <h3  class="fc-black">John Doe</h3>
                <p class="fc-black">112 abonnées</p>
                <a href=""><button type="button" class="btn btn-black btn-lg btn-block mt-20 mt-20Mobile">Voir le profil</button></a>
                {% else %}
                <h3  class="fc-black">Vous n'êtes pas connecté</h3>
                <a href="{{ path('app_login') }}"><button type="button" class="btn btn-black btn-lg btn-block mt-20 mt-20Mobile">Se connecter</button></a>
                <a href="{{ path('app_register') }}"><button type="button" class="btn btn-black btn-lg btn-block mt-5 mt-5Mobile">Inscription</button></a>
                {% endif %}
                <div class="d-flex flex-column justify-content-start w-100 mt-40 mt-40Mobile">
                    <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1">Mode nuit</label>
                    </div>
                    {% if is_granted('ROLE_ADMIN') %}

                    <a class="mt-30 mt-30Mobile" href="/admin">Administration</a>

                    {% endif %}
                    {% if app.user %}
                    <a href="{{ path('notification') }}" class="mt-30 mt-30Mobile">Notifications (<span class="number_notif">{{ app.user.notificationNotSeen | length }}</span>)</a>
                    {% else %}
                    <a href="" class="mt-30 mt-30Mobile disable">Notifications</a>
                    {% endif %}
                    <a href="" class="mt-30 mt-30Mobile">Paramètres</a>
                    {% if app.user %}
                    <a href="" class="mt-30 mt-30Mobile">Voir mes postes épinglés</a>
                    {% else %}
                    <a href="" class="mt-30 mt-30Mobile disable">Voir mes postes épinglés</a>
                    {% endif %}
                    {% if app.user %}
                    <a href="" class="mt-30 mt-30Mobile">Déconnexion</a>
                    {% else %}
                    <a href="" class="mt-30 mt-30Mobile disable">Déconnexion</a>
                    {% endif %}
                </div>
            </div>
      </div>

  </div>
</div>
    {# <div class="collapse menu-collapse" id="nav-collapse">
        <div class="card card-body collapse-navbar">
            <a class="" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                <i class="fas fa-times"></i>
            </a>
            <div class="container d-flex flex-column align-items-center">
                <img src="{{ asset("img/logo_infaux.png") }}" alt="Infaux logo"/></a>
                <div class="user-picture-background mt-40 mt-40Mobile">
                    <div class="user-picture">
                        <img src="{{ asset("img/user.svg") }}" alt="user"/></a>
                    </div>
                </div>
            </div>
        </div>
    </div> #}
    {# <nav class="d-flex bd-highlight mb-3 align-items-center nav-menu">
        <a class="logo mr-auto bd-highlight" href="{{ path("index") }}"><img src="{{ asset("img/logo_infaux.png") }}"
                                                                             alt="Agence Pop Web logo"/></a>
        <input type="checkbox" id="nav" class="hidden"/>
        <label for="nav" class="nav-open">
            <i></i>
            <i></i>
            <i></i>
        </label>
        <div class="nav-container bd-highlight">
            <ul>
                <li>
                    <a class="nav-link {% if current_menu is defined and current_menu == 'home' %}active{% endif %}"
                       href="{{ path('index') }}"><i class="fas fa-home"></i> Accueil
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                {% if app.user %}
                    <li>
                        <a class="nav-link {% if current_menu is defined and current_menu == 'notifications' %}active{% endif %}"
                           href="{{ path('notification') }}"><i class="fas fa-bell"></i> Notifications (<span class="number_notif">{{ app.user.notificationNotSeen | length }}</span>)
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link {% if current_menu is defined and current_menu == 'account' %}active{% endif %}"
                           href="{{ path('index') }}"><i class="fas fa-user"></i> Mon profil</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if current_menu is defined and current_menu == 'search' %}active{% endif %}"
                           href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-cog"></i> Paramètres
                            <span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#"><i class="fas fa-cog"></i> Paramètres du profil</a>
                            <a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i> Déconnexion</a>
                        </div>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}

                        <li><a class="nav-link " href="/admin"><i class="fas fa-user"></i> Admin</a></li>

                    {% endif %}

                {% else %}
                    <li>
                        <a class="nav-link {% if current_menu is defined and current_menu == 'login' %}active{% endif %}"
                           href="{{ path('app_login') }}"><i class="fas fa-user"></i> Connexion</a>
                    </li>
                    <li>
                        <a class="nav-link {% if current_menu is defined and current_menu == 'register' %}active{% endif %}"
                           href="{{ path('app_register') }}"><i class="fas fa-user"></i> Inscription</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <a class="pl-30 pl-20Mobile pt-10Mobile bd-highlight nav-link mk-search-trigger mk-fullscreen-trigger" href="#"
           id="search-button-listener">
            <div id="search-button"><i class="fa fa-search"></i></div>
        </a>
    </nav> #}
</header>
