<header>
    <nav class="d-flex justify-content-between align-items-center nav-menu">
        <a class="logo" href="{{ path("index") }}"><img src="{{ asset("img/logo_infaux.png") }}" alt="Agence Pop Web logo"/></a>
            <input type="checkbox" id="nav" class="hidden"/>
            <label for="nav" class="nav-open">
                <i></i>
                <i></i>
                <i></i>
            </label>
            <div class="nav-container">
                <ul>
                    <li>
                        <a class="nav-link {% if current_menu is defined and current_menu == 'posts' %}active{% endif %}"
                           href="{{ path('index') }}">Questions
                            <span class="sr-only">(current)</span>
                        </a></li>
                    <li>
                        <a class="nav-link {% if current_menu is defined and current_menu == 'search' %}active{% endif %}"
                           href="{{ path('index') }}">Recherchez
                            <span class="sr-only">(current)</span>
                        </a></li>
                    {% if app.user %}

                        <li><a class="nav-link {% if current_menu is defined and current_menu == 'account' %}active{% endif %}"
                               href="{{ path('index') }}">Mon profil</a></li>
                        <li><a class="nav-link {% if current_menu is defined and current_menu == 'logout' %}active{% endif %}"
                               href="{{ path('app_logout') }}">Se déconnecter</a></li>

                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a class="nav-link " href="/admin">Admin</a></li>
                        {% endif %}

                    {% else %}
                        <li><a class="nav-link {% if current_menu is defined and current_menu == 'login' %}active{% endif %}"
                               href="{{ path('app_login') }}">Se connecter</a></li>
                        <li><a class="nav-link {% if current_menu is defined and current_menu == 'register' %}active{% endif %}"
                               href="{{ path('app_register') }}">S'inscrire</a></li>


                    {% endif %}


                </ul>
            </div>
    </nav>
</header>
