<header>
    <div class="logo-header d-flex justify-content-center">
        <img src="{{ asset("img/logo_infaux.png") }}" alt="Infaux logo"/></a>
    </div>
    <nav class="mobile-bottom-nav">
        <div class="mobile-bottom-nav__item">
            <div class="mobile-bottom-nav__item-content">
                <a class="{% if current_menu is defined and current_menu == 'home' %}active{% endif %}"
                   href="{{ path('index') }}"><i class="icon-home"></i>
                    <span class="sr-only">(current)</span>
                </a>
            </div>
        </div>
        <div class="mobile-bottom-nav__item">
            <div class="mobile-bottom-nav__item-content">
                <a href="{{ path('search') }}"><i class="icon-search"></i></a>
            </div>
        </div>
        {% if app.user %}
            <div class="mobile-bottom-nav__item">
                <div class="mobile-bottom-nav__item-content">
                    <a href="{{ path('notification') }}"><i class="icon-bell"></i><span
                                class="number_notif notif">{{ app.user.notificationNotSeen | length }}</span></a>
                </div>
            </div>
        {% endif %}
        <div class="mobile-bottom-nav__item">
            <div class="mobile-bottom-nav__item-content">
                <a href="" class="" type="button" class="btn btn-primary" data-toggle="modal"
                   data-target="#collapse-menu">
                    <i class="icon-menu"></i>
                </a>
            </div>
        </div>
    </nav>
    <!-- Modal -->
    <div class="modal fade menu-collapse" id="collapse-menu" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog animated fadeInRight mt-0 mb-0 mr-0  m-0Mobile" role="document">
            <div class="modal-content collapse-navbar">
                <div class="modal-header">
                    <img src="{{ asset("img/logo_infaux.png") }}" alt="Infaux logo"/></a>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="icon-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container d-flex flex-column align-items-center">
                        <div class="user-picture-background mt-40 mt-20Mobile mb-10 mb-10Mobile">
                            <div class="user-picture">
                                {% if app.user %}
                                    <img src='{{ "/uploads/images/users/" ~ app.user.image ?? 'adorable.png' }}' alt="user"/></a>
                                {% else %}
                                    <img src="{{ asset("img/user.svg") }}" alt="user"/></a>
                                {% endif %}
                            </div>
                        </div>
                        {% if app.user %}
                            <h3 class="fc-black">{{ app.user.username }}</h3>
                            <p class="fc-black">{{ app.user.friendList| length }} abonnées</p>
                            <a href="{{ path('account.show',{'id':app.user.id}) }}">
                                <button type="button" class="btn btn-black btn-lg btn-block mt-20 mt-20Mobile">Voir le profil
                                </button>
                            </a>
                        {% else %}
                            <h3 class="fc-black">Vous n'êtes pas connecté</h3>
                            <a href="{{ path('app_login') }}">
                                <button type="button" class="btn btn-black btn-lg btn-block mt-20 mt-20Mobile">Se
                                    connecter
                                </button>
                            </a>
                            <a href="{{ path('app_register') }}">
                                <button type="button" class="btn btn-black btn-lg btn-block mt-5 mt-5Mobile">
                                    Inscription
                                </button>
                            </a>
                        {% endif %}
                        <div class="d-flex flex-column justify-content-start w-100 mt-40 mt-40Mobile">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                <label class="custom-control-label" for="customSwitch1">Mode nuit</label>
                            </div>
                            {% if is_granted('ROLE_ADMIN') %}

                                <a class="mt-30 mt-30Mobile" href="/admin">Administration</a>

                            {% endif %}
                            {% if app.user %}
                                <a href="{{ path('notification') }}" class="mt-30 mt-30Mobile">Notifications (<span
                                            class="number_notif">{{ app.user.notificationNotSeen | length }}</span>)</a>


                                <a href="{{ path('account.settings') }}" class="mt-30 mt-30Mobile">Paramètres</a>

                                <a href="{{ path('post.pinned') }}" class="mt-30 mt-30Mobile">Voir mes postes épinglés</a>


                                <a href="{{ path('app_logout') }}" class="mt-30 mt-30Mobile">Déconnexion</a>

                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>
